<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easybus">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Page70203falseActivity"></activity>
        <activity android:name=".Page70203trueActivity" />
        <activity android:name=".Page70203Activity" />
        <activity android:name=".Page70103falseActivity" />
        <activity android:name=".Page70103trueActivity" />
        <activity android:name=".Page7010301Activity" />
        <activity android:name=".Page70103Activity" />
        <activity android:name=".Page70401falseActivity" />
        <activity android:name=".Page70401trueActivity" />
        <activity android:name=".Page70402Activity" />
        <activity android:name=".Page70401Activity" />
        <activity android:name=".Page70301falseActivity" />
        <activity android:name=".Page70301trueActivity" />
        <activity android:name=".Page70302Activity" />
        <activity android:name=".Page70301Activity" />
        <activity android:name=".Page70201falseActivity" />
        <activity android:name=".Page70201tureActivity" />
        <activity android:name=".Page70202Activity" />
        <activity android:name=".Page70201Activity" />
        <activity android:name=".Page70101falseActivity" />
        <activity android:name=".Page70101trueActivity" />
        <activity android:name=".Page70102Activity" />
        <activity android:name=".Page70101Activity" />
        <activity android:name=".Page704Activity" />
        <activity android:name=".Page703Activity" />
        <activity android:name=".SelectPicPopupWindow" />
        <activity android:name=".AddFamMember" />
        <activity android:name=".edit" />
        <activity android:name=".ForgetPassword" />
        <activity android:name=".Page801Activity" />
        <activity android:name=".Page7falseActivity" />
        <activity android:name=".Page7trueActivity" />
        <activity android:name=".Page702Activity" />
        <activity android:name=".Page701Activity" />
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".Page10Activity" />
        <activity android:name=".Page9Activity" />
        <activity android:name=".Page501Activity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".Page8Activity" />
        <activity android:name=".Page7Activity" />
        <activity android:name=".Page6Activity" />
        <activity android:name=".Page5Activity" />
        <activity android:name=".Page4Activity" />
        <activity android:name=".Page3Activity" />
        <activity android:name=".Page2Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>